.heading {
	font-family: 'Manrope';
	font-weight: 800;
	font-size: 12px;
	line-height: 24px;
	color: #393939
}

.inputErrorText {
	font-family: 'Inter';
	font-size: 10px;
	color: #e43d27;
	margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 20px;
		line-height: 25px;
		margin-bottom: 20px;
    }

    .inputErrorText {
        font-size: 12px;
    }
}